<footer class="footer">
    <div class="container py-4 text-sm-center text-lg-center h-100">
        <div class="row mt-4">
            <div class="col-12"><p>WallStreetDocs - all rights reserved 2018</p></div>
        </div>
    </div>
</footer>