<div class="alert alert-warning" role="alert">
    <span class="alert__unknown">
        You are not logged in. Please sign in.
    </span>
    <span class="alert__process">
        Login process started, please wait!
    </span>
</div>