.container--main {
    padding: 50px 0;
}

.container--profile {
    padding:5%;
}

.container--profile .img {
    text-align:center;
}

.container--profile .details {
    border-left:3px solid #ded4da;
}

.container--profile .details p {
    font-size:15px;
    font-weight:bold;
}

.alert .alert__process,
.alert--process .alert__unknown {
    display: none;
}

.alert--process .alert__process {
    display: block;
}

.spinner {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.spinner--circle {
    width: 44px;
    height: 44px;
    border-width: 2px 2px 2px 2px;
    border-color: black black transparent transparent;
    border-style: solid;
    border-radius: 100%;
    animation-name: spinToWin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert--process .spinner--circle {
    width: 15px;
    height: 15px;
}

@keyframes spinToWin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container--profile__image {
    z-index: 1;
    position: relative;
    max-width: 200px;
}

@media (max-width: 768px) {
    .container--profile__image {
        max-width: 100%;
        margin-bottom: 20px;
        min-height: 300px;
    }
}
